.app {
	background-image: linear-gradient(to right, #051421, #042727);
	max-width: 100vw;
	box-sizing: border-box;
}

.app::-webkit-scrollbar {
	display: none;
}
.app {
	-ms-overflow-style: none;
	scollbar-width: none;
}
